<section class="py-24 bg-dark" data-purpose="Gallery" id="galeria">
<div class="container mx-auto px-6">
<div class="text-center mb-16">
<h2 class="text-4xl font-extrabold mb-2">Nuestros Trabajos</h2>
<p class="text-gray-400">Mira nuestras últimas transformaciones</p>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
<div class="overflow-hidden rounded-custom aspect-square group">
<img alt="Gallery 1" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBTSXhE41BQuoLf9WHFAUOIxTgKuzpWrHGQ2gZL2MkQXxxvSIx0mhTeILNMU-nfRo1LJDfDNLXUVR042T5rgmgc26aUmHCnDGfvy7zBvm_GU6eR5e-fRnfzfWAklZZ-ZnekkVQF2MtEIc5EC1Fjl9OqJqipuQAMeTLRIV8UP6BOOBob3Hkp0WPXCSR_xcIAqPBHM4MnaZrFohbhP8lCnsgjCJEtLeZRVXUOxKqkiVkhs3vTSTJwxGl8A80C4gB7_ocABu74TvcgfYQy"/>
</div>
<div class="overflow-hidden rounded-custom aspect-square group">
<img alt="Gallery 2" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" src="https://lh3.googleusercontent.com/aida-public/AB6AXuC2S7RPtNLJby-tQAw0t4DWqQKQZm4MFJaMf4254e4Xgu9Ntg66_QPR2bnLjYokTLuI7kETiAdyBVNgrnQ7anJgU6AQH9R2ijf7TOBSeCMRV393gBldT9-AoHpu06COZTJxm1H0DB9d4TiColGE9u7K6rFIbbvlbFI-bOUIBNOObIsFAuO3m0IIu2Tr93zonz9eJYzbOC-1j7lrVFhX5gV9HFnfRdRROYfOW64lsFxSRHmta28_16f0Jb9qoJLy-q8SUF9sRU8Euh9_"/>
</div>
<div class="overflow-hidden rounded-custom aspect-square group">
<img alt="Gallery 3" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAES-54kY1i0PjFVDYSOuRfqJif6iwvm3CXAWUqr097gOW1RFA5pGjzrM02a1JeFMWo_DWbN-dCozsm8xOgP1ZoUSDyPXtQljFkqvNzp9gQPHjb709DCfUpUlACeID9rIVRjVQoXZm8AFQ127uKox5KMGr4_n_Bvuchxf2lVk9cpbgLDkHyMyujnM5xQqmIYvxSLzkiaLbmCbdm582Z8RbIFyQWy_XfU7qGuPs9hbzXnFD73Vg05piY6-R0XR9GAaZ_IH8KL7XyjBB6"/>
</div>
<div class="overflow-hidden rounded-custom aspect-square group">
<img alt="Gallery 4" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAWk-gAtWJsm2rzpG9trXIuUbEWNLz5dgDfemFhTgbhKRMDrSyXaYLxiD2OUU_yhAGzqFuNVKp1AKedaNtHdPV-ddwUJKvBqlC2K6oDm7167DatQScbJk_-SVdgMC7iMuYRHJWwxJScnBR718sXgQH2mqcykVKxUIjV3T0yE4UWmJponU6PgdTiEux8U5KD9tnzb_S83leQbRLYguq_CTV1mvIUcTyn9Z6-rV5Jtta9ZYYdkcLl8_EoiAkGS5wc8Ba-KQ7wjjQcJIiH"/>
</div>
</div>
</div>
</section>